@import url(https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Andada+Pro:ital,wght@0,400;0,700;1,500&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap);

@keyframes wheelHueColor {
    from, to { color: hsl(324, 70%, 45%); }
    10%      { color: hsl(360, 65%, 45%); }
    20%      { color: hsl( 36, 80%, 45%); }
    30%      { color: hsl( 72, 75%, 35%); }
    40%      { color: hsl(108, 65%, 35%); }
    50%      { color: hsl(144, 75%, 35%); }
    60%      { color: hsl(180, 75%, 35%); }
    70%      { color: hsl(216, 60%, 45%); }
    80%      { color: hsl(252, 65%, 50%); }
    90%      { color: hsl(288, 60%, 40%); }
}

*, *::before, *::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
  }

body {
    font-family: 'Nunito', sans-serif;
	overflow-x: hidden; ;
}

.content{
    margin-top: -15px;
    background-color: #0d1117;
    flex: 0 0 auto;
}

.center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.left{
  display: flex;
  align-items: start;
  justify-content: left;
}

.right{
  display: flex;
  align-items: end;
  justify-content: right;
}

.flex{
  display: flex;
  align-items: center;
}

.title{
  padding-top: 180px;
  font-size: 50px;
  color: white;
  text-align: center;
}

.raleway{
  font-family: "Raleway", serif;
}

.space{
  margin-top: 100px;
  margin-bottom: 100px;
}

.discordcard{
  background-color: #2c2f34;
  border-radius: 22px;
  height: 300px;
  width: 620px;
}

.discordcardexperience{
  background-color: #2c2f34;
  border-radius: 22px;
  height: 200px;
  width: 620px;
}

.discordcardnameleft{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: left;
  margin-left: 10px;
  margin-top: -235px;
}

.discordcardnameright{
  display: flex;
  align-items: center;
  justify-content: right;
  margin-right: 10px;
  margin-top: -195px;
}


.saboyananame{
  font-weight: 600;
  font-size: 20px;
  padding-left: 15px;
  color: white;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}

.sevensoulsname{
  font-weight: 600;
  font-size: 20px;
  padding-right: 15px;
  color: white;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}

.langageleft{
  width: 270px;
  height: 10px;
  background-color: #f1e05a;
  border-radius: 100px;
  margin-top: 242px;
  margin-left: 330px;
  display: flex;
}

.langagepointleft{
  width: 10px;
  height: 10px;
  background-color: #f1e05a;
  border-radius: 100px;
  margin-top: 30px;
  margin-right: 250px;
}

.langagenameleft{
  font-size: 12px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-weight: 600;
  margin-top: -3px;
  margin-left: 15.5px;
  margin-right: -220px;
  color: white;
}

a:link, a:visited, a:active, a:hover, a:active {
  text-decoration: none;
  color: white;
}

.saboyana{
  border-radius: 100%;
  width: 60px;
  height: 60px;
}

.sevensouls{
    border-radius: 100%;
    width: 60px;
    height: 60px;
}

.langageright{
  width: 270px;
  height: 10px;
  background-color: #f1e05a;
  border-radius: 100px;
  margin-top: 202px;
  margin-left: 10px;
  display: flex;
}

/* .langagerighthtml{
  width: 68.58px;
  height: 10px;
  background-color: #e34c26;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  position: absolute;
  margin-left: -1px;
} */

/* .langagerightcss{
  width: 35.64px;
  height: 10px;
  background-color: #563d7c;
  position: absolute;
  margin-left: 68px;
} */

.langagepointright{
  width: 10px;
  height: 10px;
  background-color: #f1e05a;
  border-radius: 100px;
  margin-top: 30px;
  margin-left: 260px;
}

/* .langagepointcssright{
  width: 10px;
  height: 10px;
  background-color: #563d7c;
  border-radius: 100px;
}

.langagepointhtmlright{
  width: 10px;
  height: 10px;
  background-color: #e34c26;
  border-radius: 100px;
} */

.langagenameright{
  padding-bottom: 10px;
  font-size: 12px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-weight: 600;
  margin-top: -3px;
  margin-left: -115.5px;
  margin-right: -220px;
  color: white;
}

.categorydevright{
  color: #717171;
  font-family: 'Roboto', serif;
  font-size: 9px;
  margin-right: 170px;
  margin-top: -40px;
}

.categorydevleft{
  color: #717171;
  font-family: 'Roboto', serif;
  font-size: 9px;
  margin-left: 320px;
  margin-top: -40px;
}

.textdescriptionright{
  color:white;
  font-family: 'Roboto', serif;
  text-align: right;
  margin-top: 50px;
  padding-right: 20px;
}

.linkright{
  display: flex;
  justify-content: end;
  margin-top: 45px;
  margin-right: 115px;
}

.textdescriptionleft{
  color:white;
  font-family: 'Roboto', serif;
  margin-right: 350px;
  margin-top: 30px;
  padding-left: 20px;
}

.linkleft{
  display: flex;
  justify-content: start;
  margin-top: 30px;
  margin-left: 15px;
}

.linknamesaboyana{
  margin-left: 10px;
  font-family: 'Roboto';
  border-bottom: 1px solid white;
  padding-bottom: 2px;
}

.linknamesaboyana:hover{
  color: #e76079;
  transition: all 0.4s ease-out;
  border-color: #e76079;
}

.linknamesevensouls{
  margin-left: 10px;
  font-family: 'Roboto';
  border-bottom: 1px solid white;
  padding-bottom: 2px;
}

.linknamesevensouls:hover{
  color: #9939ff;
  transition: all 0.4s ease-out;
  border-color: #9939ff;
}

.experience{
  color: white;
  font-family: 'Open Sans';
}

.experiencetitle{
  padding-top: 10px;
  color: white;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.footer{
  background-color: #0d1117;
  height: 100px;
  width: 100%;
}

hr {
  height: 1px;
  width: 87%;
  border: 0;
  border-top: 1px solid #21262d;
  margin: 1em 0;
  padding: 0;
}

.githublogo{
  fill: whitesmoke;
}

.githublogo:hover{
  fill: #2c2f34;
  transition: all 0.3s ease-in-out;
}

.copyright, .contact{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: whitesmoke;
}

.contactmailto:hover{
    color: #919191;
    transition: all 0.4s ease-out;
}

.typing {
  width: 21ch;
  animation: typing 2s steps(35), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
  color: #f89c34;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}

.navbar {
  overflow: hidden;
  background-color: #171d27; 
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  height: 65px;
  width: 100%; /* Full width */
}

.icon{
  width: 25px;
  height: 25px;
  margin-right: 13px;
  margin-bottom: -6px;
}

.hover:hover{
  color: #f89c34;
  transition: all 0.3s ease-in-out;
}

.tools{
  background-color: transparent;
  width: 250px;
  height: 150px;
  border: 1px solid;
  border-radius: 10px;
  border-color: #f89c34;
  margin-left: 40px;
  margin-right: 40px;
}

::-webkit-scrollbar {
  width: 10px;
}


::-webkit-scrollbar-track {
  background: #0d1117;
}


::-webkit-scrollbar-thumb {
  background: #f89c34;
  border-radius: 30px;
}